
.console-overlay {
    /*background-color: #1c2030;*/
    /* give the outermost container a predefined size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    opacity: 0.95;
    pointer-events: auto;
    z-index: 9999;

    /* dont touch another styles */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: white;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    will-change: transform;
}

@media screen and (min-width: 320px) {
    .console-overlay {
        font-size: 16px;
    }
}


/* IPHONE 6-7-8 */
@media screen and (min-width: 425px) {
    .console-overlay {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .console-overlay {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .console-overlay {
        font-size: 18px;
    }
}

@media screen and (min-width: 1600px) {
    .console-overlay {
        font-size: 20px;
    }
}


.header {
    background-color: #1c2030;
    flex-grow: 1;
    /* for Firefox */
    /*min-height: 0;*/
    /*height: 250px;*/
    border-bottom: 2px solid #F5831C;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;

}

.footer {
    position: relative;
    flex-grow: 1;
    /* for Firefox */
    /*min-height: 0;*/
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    background-color: #181b26;
}

.footer-label {
    font-weight: bold;
    font-size: 1em;
    color: #f58019;
}

.footer-value {
    font-weight: bold;
    font-size: 1em;
}

.footer-label::after {
    content: "\00a0";
}

.footer-block {
    display: flex;
}


.main {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    height: 100%;


    /* for Firefox */
    min-height: 0;
    background-color: #1c2030;
    width: 100%;

    display: flex;
    justify-content: center;

}

.footer::before {
    position: absolute;
    content: '';
    /*height: 50px;*/
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    bottom: 10px;
    background: linear-gradient(
            0deg, rgba(24, 27, 38, 1) 0%, rgba(24, 27, 38, 0) 100%);
}

.modal {
    flex-grow: 1;
    overflow: auto;
    height: 100%;


    /* for Firefox */
    min-height: 0;
    background-color: #1c2030;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content {
    max-width: 1000px;
    margin: auto 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.paytable-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.paytable-paylines-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    margin: 32px auto;
    justify-content: center;
}

.paytable-block:last-child {
    padding-bottom: 5em;
}

/** USER-SELECT */
* {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/** Scrollbar start */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
    background: #F5831C;
    /*border-radius: 10px;*/
}


/** Scrollbar end */


.paytable-symbol {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    width: 100%;
    min-width: 120px;
    max-width: 250px;

}

.paytable-symbol-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    min-width: 120px;
    max-width: 250px;
}

.paytable-image-line {
    display: inline-flex;
    gap: 8px;
    margin: 1em 0 3em 0;
}

.paytable-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;

    min-width: 120px;
    max-width: 350px;
}

.paytable-symbol-description-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.paytable-symbol-description-header {
    text-align: center;
    margin: 1em 0;
    align-self: center;
    color: #b0b3b9;
    height: 100%;
    display: flex;
    align-items: center;


}

.paytable-symbol-description-values-block {

    display: flex;
    flex-direction: column;
    width: 100%;
}

.paytable-symbol-description-values-row {

    display: flex;
    width: 100%;
}


.paytable-symbol-description-values-row-amount {
    width: 100%;
    margin: 0 4px;
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.1) 1px solid;

    font-size: 1.5em;
}

.paytable-symbols-row {
    display: flex;
    margin-bottom: 1.5em;
}

.paytable-symbol-multipliers {
    font-size: 1.5em;
    font-weight: 700;

    display: flex;
    flex-direction: column;
}

.paytable-symbol-multipliers-empty-space {
    flex-grow: 1;
}


.paytable-symbol-multipliers-value {
    color: #b0b3b9;
}


/* slider */
.switch {
    float: right;
    position: relative;
    display: inline-block;
    width: calc(110px * 0.6);
    height: calc(60px * 0.6)
}

.switch input {
    display: none
}

.switch-slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #646871;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 60px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.switch-slide:before {
    position: absolute;
    content: "";
    height: calc(52px * 0.6);
    width: calc(52px * 0.6);
    left: calc(4px * 0.6);
    bottom: calc(4px * 0.6);
    background-color: #fff;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    will-change: transform;
}

input:checked + .switch-slide {
    background-color: #ff8416
}

input:focus + .switch-slide {
    box-shadow: 0 0 1px #ff8416
}

input:checked + .switch-slide:before {
    -webkit-transform: translateZ(0) translateX(calc(50px * 0.6));
    -ms-transform: translateZ(0) translateX(calc(50px * 0.6));
    transform: translateZ(0) translateX(calc(50px * 0.6));
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    will-change: transform;
}

/* end-slider slider */

/* settings */
.settings-block {
    width: 100%;

    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;

}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
}

.settings-row > label {
    margin-right: 12px;
}

/* settings */

/* bets */
.bets-min-max-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.bets-page-container {
    /*gap: 8px;*/
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
}

.bets-block {
    width: 100%;

    margin: 0 auto;
    /*justify-content: start;*/
    /*align-items: center;*/

    /*flex-wrap: wrap;*/

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    grid-column-gap: 8px;
    grid-row-gap: 8px;

}

@media (orientation: portrait) {
    .bets-block {
        grid-template-columns: repeat(3, 1fr);

    }
}

/*bet button */
.total-bet-block {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    width: 100%;
}

.total-bet-block > .plus-minus-input-block {
    margin-bottom: 8px;
}

.bet-button {
    min-width: 40px;
    cursor: pointer;
    max-height: 32px;
    min-height: 32px;
    height: 32px;
    border-radius: 10px;
    padding: 0.5em;
    border: 3px solid #646871;
    z-index: 10;
    position: relative;
    background-color: rgba(1, 1, 1, 0.3);

    display: flex;
    justify-items: center;
    align-items: center;
}


.bet-button-disable {
    pointer-events: none;

}


.bet-value-until-stop {
    font-size: 1.1em !important;
}

.bet-value {
    margin: auto auto;
    font-size: 1.2em; /* 2 lvl of headers? */
    line-height: 100%;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}

.bet-active {
    border-color: #ff8416;
}

.bet-active::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 1px solid #ff8416;
    border-radius: 6px;
}

.menu-item-icon {
    padding: 4px;
    height: auto;
    width: 1.5em;

}

.menu-row {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 0.5em;
    border-bottom: rgba(177, 177, 177, 0.1) solid 2px;
    padding-bottom: 0.5em;

}


/* bets */


/* menu */

/* for close */
.close {
    visibility: hidden;
}

.display-none {
    display: none;
}


.pointer-events-none {
    pointer-events: none;
}

/* slider */
.slider-progress-bar::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: -11px;
    left: 0%;
    border-radius: 50%;

}

.settings-title {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;

}


/* PLUS MINUS INPUT */

.plus-minus-input-block {
    display: flex;
    width: 100%;
}

.plus-minus-input-control {
    cursor: pointer;
    max-height: 32px;
    min-height: 32px;
    height: 32px;
    border-radius: 10px;
    padding: 0.5em;
    border: 3px solid #F5831C;
    z-index: 10;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    /*background-color: #F5831C;*/
}

.plus-minus-input-readout {
    margin: 0 0.4em;
    width: 100% !important;
    background-color: rgba(1, 1, 1, 0.3);
    padding: calc(3px + 0.5em);
    border: none;
    pointer-events: none;
}

.plus-minus-input-control.disable {
    /*background-color: #646871;*/
    border: 3px solid #646871;
    pointer-events: none;
}

.plus-minus-input-control.disable > svg > path {
    fill: grey !important;
}


/* autoplay */

.autoplay-spins-block {
    margin-bottom: 20px;
}

.autoplay-limits-block {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 16px;
}

@media (orientation: portrait) {
    .autoplay-limits-block {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media (orientation: landscape) and (min-width: 1025px) {
    .footer {
        font-size: 22px;
        padding: 0 32px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .footer {
        font-size: 20px;
        padding: 0 32px;
    }
}

/* MOBILE LANSCAPE */
@media (orientation: landscape) and (max-width: 1023px) {
    .total-bet-block {
        flex-direction: row;
        max-width: 100%;
    }

    .plus-minus-input-block {
        /*width: 50%;*/
    }

    .total-bet-block > .plus-minus-input-block {
        width: 50%;
    }

    .bets-min-max-block {
        width: 50%;
    }

    .total-bet-block > .plus-minus-input-block {
        margin-right: 8px;
    }

    .bet-button {
        max-height: 20px;
        min-height: 20px;
        height: 20px;
    }

    .plus-minus-input-control {
        max-height: 20px;
        min-height: 20px;
        height: 20px;
        max-width: 20px;
        min-width: 20px;
        width: 20px;
    }
}


@media (hover: hover) and (pointer: fine) {
    ::-webkit-scrollbar-thumb:hover {
        background: #f54f1c;
    }

    .menu-row:hover {
        color: #ff8416;
    }

    .bet-button:hover {
        border-color: #ff8416;
    }

    .bet-button:hover {
        background: -webkit-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -o-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -ms-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -moz-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: linear-gradient(to bottom, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
    }

    .plus-minus-input-control:hover {
        background: -webkit-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -o-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -ms-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: -moz-linear-gradient(top, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
        background: linear-gradient(to bottom, rgba(255, 131, 0, 0.42) 0%, rgba(255, 131, 0, 0.15) 100%);
    }
}

/* TYPOGRAPHY ! */
p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1em;
    letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5 {
    margin: 3em 0 1.38em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

h1 {
    margin-top: 0;
    font-size: 2.488em;
}

h2 {
    font-size: 2.074em;
}

h3 {
    font-size: 1.728em;
}

h4 {
    font-size: 1.44em;
}

h5 {
    font-size: 1.2em;
}

small, .text_small {
    font-size: 0.833em;
    letter-spacing: -0.02em;
}

.header-title {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
    display: flex;
}

.paytable-block-title {
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.02em;
    text-align: center;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.1875em;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
}

.paytable-block-content {
    width: 100%;
    font-size: 1em;
    text-align: center;
}

.bets-block-title {
    font-size: 1.5em;
    font-weight: bold;
}

.menu-buttons-title {
    font-weight: bold;
    font-style: normal;
    font-size: 1em;
    width: 100%;
    padding-left: 0.25em;

}

.elements-label {
    margin: 0 0 8px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#autoplay-sumbit-button {
    max-width: 150px;
    margin: 0 auto;
    width: 100%;
    background-color: #ff8416;
    border-color: #ff8416;
    cursor: pointer;
    pointer-events: auto;
}

#autoplay-sumbit-button.disabled {
    pointer-events: none;
    border-color: #646871;
    background-color: #646871;
}

#header-close-button:hover {
    color: #f58019;
}

@keyframes notify-bg-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes notify-message-appear {
    from {
        opacity: 0;
        margin-right: 50%;
    }
    to {
        opacity: 1;
        margin-right: 0;
    }
}

#foxium-notify {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    pointer-events: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#foxium-notify-message-bg {
    height: 250px;
    z-index: 999;
    position: relative;
    display: flex;
    opacity: 0;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    animation: notify-bg-appear 0.3s;
    transform-origin: center top;
    transition: opacity 0.75s;
    background-color: #1c2030;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    will-change: opacity;
}

#foxium-notify-message {
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-weight: 600;
    color: white;
    animation: notify-message-appear 0.5s;
    user-select: none !important;
    white-space: nowrap;
    z-index: 1000;
    position: relative;
}
